<!-- Annotation Tools Container -->
<div class="annotation-tools-container" *ngIf="opened$ | async">

  <!-- ✅ Floating Create Issue Button -->
  <button *ngIf="(canAddAnnotation | async) && !(guiConfig$ | async)?.disableMarkupShapeButton && !annotationCreated && !(service.openIssueForm$ | async)"
          class="create-issue-btn-floating"
          (click)="startEllipseIssue($event)"
  >
    Create Issue
  </button>

  <button *ngIf="annotationCreated"
          class="create-issue-btn-floating"
          (click)="confirmAnnotation()"
  >
    Next
  </button>


  <!-- 🧩 Annotation Panels -->
  <div class="annotation-panels-container">
    <!--<rx-note-panel></rx-note-panel>-->
    <rx-erase-panel></rx-erase-panel>
    <rx-count-panel *ngIf="isActionSelected['COUNT']"></rx-count-panel>
    <rx-stamp-panel *ngIf="isActionSelected['STAMP']" (onClose)="onActionSelect('STAMP')"></rx-stamp-panel>
    <rx-image-library *ngIf="isActionSelected['IMAGES_LIBRARY']" (onClose)="onActionSelect('IMAGES_LIBRARY')"></rx-image-library>
    <rx-symbols-library *ngIf="isActionSelected['SYMBOLS_LIBRARY']" (onClose)="onActionSelect('SYMBOLS_LIBRARY')"></rx-symbols-library>
    <rx-links-library *ngIf="isActionSelected['LINKS_LIBRARY']" (onClose)="onActionSelect('LINKS_LIBRARY')"></rx-links-library>
    <rx-measure-panel></rx-measure-panel>
  </div>

</div>

<!-- 🛠️ Global Tools -->
<rx-context-editor></rx-context-editor>
<rx-quick-actions-menu></rx-quick-actions-menu>
<rx-note-popover></rx-note-popover>
<rx-note-popover [mode]="'tooltip'"></rx-note-popover>
<rx-measure-detail-panel *ngIf="!(guiConfig$ | async).disableMarkupMeasureButton"></rx-measure-detail-panel>





