.panel-container {
  position: fixed; // keeps it floating on the screen
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // centers it
  // width: 400px;
  max-width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999; // make sure it stays above normal content
  color: #ffff !important;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  font-weight: 600;
  border-bottom: 1px solid #000;
  background-color: #052c65;
  color: #ffff !important;
}

.panel-header .btn-close {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1;
  color: #ffffff;

  &:hover {
    color: #fdfdfd;
  }
}

.panel-body {
  padding: 1rem;
}
